$naverColor: #00c73c;

html {
	font-size: 14px;
}

footer{
	background-color: #f5f5f5;
}

.footer-naver-guide{
	margin-right: 10px;
}

.footer-naver-guide .breadcrumb{
	margin:0;
	padding:.25rem .5rem;
	background-color: transparent;
}

.footer-naver-guide .breadcrumb a{
	color: #00c73c;
	font-size: 0.9rem;
}

.footer-naver-guide .breadcrumb-item + .breadcrumb-item::before{
	display: none;
}

.navbar-brand{
	font-size:1.5rem;
}

.header-logo{margin-right: 10px;}

.box-form{
	background-color: #f5f5f5;
	padding:1rem;
	border-radius:.5rem;
}

.box-form .fa-chevron-right{
	margin-top: 8px;
	color:#aaa;
}

.btn-search-categoty .spinner-border-sm{
	margin-right: 5px;
	width: 15px !important;
	height: 15px !important;
	border-width: .1em !important;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 5px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
	border-radius: 0;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

.box-form .spinner-border{
	display:none;
}

.box-form .spinner-border,
.box-form .fa-search{
	width:23px;
	height:23px;
	font-size: 23px;
	vertical-align: middle;
}

.box-form .disabled .fa-search{
	display: none;
}

.box-form .disabled .spinner-border {
	display: inline-block;
}

.rel-keywords-list h5 {
	font-weight: bold;
}

.rel-keywords-list .breadcrumb>li+li:before {
	display: none;
}

.rel-keywords-list .breadcrumb>li:after {
	padding: 0 5px;
	content: '';
}

.rel-keywords-list .breadcrumb>li {
	padding: 3px 0;
}

.rel-keywords-list .breadcrumb>li>a {
	padding: 3px;
	color: #202022;
}

.box-etc{
	margin: 0 2px;
	vertical-align: middle;
}

.box-etc .badge{
	padding: .3em;
}

.box-etc .spring{
	background-color: chartreuse
}

.box-etc .summer{
	background-color: dodgerblue
}

.box-etc .fall{
	background-color: orangered
}

.box-etc .winter{
	background-color:mediumaquamarine;
}

.box-etc .fa-mobile-alt,
.box-etc .fa-desktop{
	font-size: 20px;
}

.chart-mini{
	width: 24px;
	height: 20px;
	border-left: 1px dotted #d5d5d5;
	border-bottom: 1px dotted #d5d5d5;
}

.fa-battery-empty{
	padding-top: 3px;
	color:crimson;
}

.fa-battery-quarter{
	padding-top: 3px;
	color:orange;
}

.fa-battery-half{
	padding-top: 3px;
	color:burlywood;
}

.fa-battery-three-quarters{
	padding-top: 3px;
	color:greenyellow;
}

.fa-battery-full{
	padding-top: 3px;
	color:green;
}

/* common */
.toast {
	position: fixed;
	top: 40%;
	background-color: rgba(0,0,0,.8);
	color:#fff;
}

.form-control{
	border-color:#e4e4e4;
}

.fas,
.fa{
	margin: 0 3px;
}

.text-color-naver{
	color: $naverColor;
}

/* table-sort */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/* responsive */
@media (min-width: 576px) {
	th.d-sm-block,
	td.d-sm-block{
		display: table-cell !important;
	}
}

@media (max-width: 575px) {
	#header h6,
	.rel-keywords-list,
	#table-search-keyword{
		font-size: 12px;
	}

	th[role=columnheader]:not(.no-sort):after{
		margin-top: 0;
	}

	.table td, .table th{
		padding:.25rem;
	}
}