html {
	font-size: 14px;
}

footer{
	background-color: #f5f5f5;
}

.navbar-brand{
	font-size:1.5rem;
}

.header-logo{margin-right: 10px;}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .spinner-border{
	display:none;
}

#custom-search-input .spinner-border,
#custom-search-input .fa-search{
	width:23px;
	height:23px;
	font-size: 23px;
	vertical-align: middle;
}

#custom-search-input .disabled .fa-search{
	display: none;
}

#custom-search-input .disabled .spinner-border {
	display: inline-block;
}

.rel-keywords-list h5 {
	font-weight: bold;
}

.rel-keywords-list .breadcrumb>li+li:before {
	display: none;
}

.rel-keywords-list .breadcrumb>li:after {
	padding: 0 5px;
	content: '';
}

.rel-keywords-list .breadcrumb>li {
	padding: 3px 0;
}

.rel-keywords-list .breadcrumb>li>a {
	padding: 3px;
	color: #202022;
}

.fa-question-circle{
	margin-left: 3px;
}

/* common */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}